.required {
  &:after {
    color: red;
    content: attr(data-required);
    position: center;

  }

  & + #selectX {
    border: 1px solid red;
  }
}

#selectX {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 0 white;
  border-radius: 2px;
  position: center;
  margin-left: 35px;
}
